.header {
    font-size: 36px;
    padding: 12px 12px 12px 12px; /* T R B L */
    display: flex;
    justify-content: center;
}

hr.line {
    border: 2px solid rgb(165, 165, 255);
    border-radius: 2px;
    width: 90%;
}
